<div class="main-conteiner">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="card">
          <form style="margin: 2vw">
            <div class="header">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                  <p class="card-title">Determinación relacionada con la versión pública de la declaración de situación patrimonial y de intereses</p>
                </div>
              </div>
              <hr/>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="form-group">
                  <label>Autorizo la transferencia de la versión pública de mi declaración</label>
                  <fieldset>
                    <input class="form-check-input" type="checkbox" value="check-1" id="defaultCheck1" [(ngModel)]="checkedBox" >
                    <label for="defaultCheck1">Si </label>
                    <input class="form-check-input" type="checkbox" value="check-1" id="defaultCheck1" [(ngModel)]="checkedBox" >
                    <label for="defaultCheck1">No </label>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="form-group">
                  <label>determino la publicitación de la versión pública de mi declaración</label>
                  <fieldset>
                    <input class="form-check-input" type="checkbox" value="check-1" id="defaultCheck1" [(ngModel)]="checkedBox" >
                    <label for="defaultCheck1">Si </label>
                    <input class="form-check-input" type="checkbox" value="check-1" id="defaultCheck1" [(ngModel)]="checkedBox" >
                    <label for="defaultCheck1">No </label>
                  </fieldset>
                </div>
              </div>
            </div>
          </form>
        </div>
    </div>
</div>
