.newpass-title{
  position: relative;
  top: -1vw;
  left: 34.3%;
  min-width: 280px;
  min-height: 70px;

  background-color: rgb(21, 136, 131);
  color: white;
  align-content: center;
  height: auto;
  width: 28%;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.title-table{
    height: 6vw;
}

.title-table h4 {
    position: relative;
    top: 2vw;
    left: 1vw;
    font-size: 1.5vw;
}

.title-table p{
    color: #ababab;
    position: relative;
    top: 1vw;
    left: 3vw;
    font-size: 1vw;
}

.btn-print {
    position: absolute;
    top: 0.5vw;
    right: 2vw;
}

.btn-save{
    position: absolute;
    right: 4vw;
    bottom: 0vw;

}

.card2 {
    min-height: 4vw;
    min-width: 8vw;

}

.new-pass {
  text-align: center; background-color: #741753; color: #FFFFFF; min-height: 2vw;


  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 150%;
  font-style: normal;
  font-weight: 400;

}

.logo{
  width: 10%;
  height: 10%;
}

.input-style{
  position: relative;
  left: -1vw;
  top: -2vw;
}

.button-style{

border: 1px solid rgb(26, 165, 161);
height: 2vw;
width: 2vw;
vertical-align: middle;
  position: relative;
  top: -1vw;
  left: 2vw;
  background-repeat: no-repeat;

}

.button-style {
    border: 1px solid rgb(26, 165, 161);
    background-color: #FFFFFF;
    color: rgb(26, 165, 161);
    width: 100px;
    height: 30px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 120%;
    font-style: normal;
}
