<div class="main-content" id="changePasswordModule">

    <div class="row" style="position: relative; top: 8vw">


        <div class="row">

        <div class="col-md-4"></div>

        <div class="col-md-4">
            <div class="card">
                    <p class="new-pass">
                        <strong>Nueva Contraseña</strong>
                    </p>
            </div>
        </div>

        <div class="col-md-4"></div>

    </div>

        <div class="row">

        <div class="col-md-4 col-lg-4"></div>

        <div class="col-md-4 col-lg-4">
            <div class="card">
                <form>
                    <div class="row" > <div class="col-md-12"></div></div>


                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="form-group">

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Nueva Contraseña" [(ngModel)]="newPassword" name="newPassInput">
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <input type="password"  class="form-control" placeholder="Confirmar Contraseña" [(ngModel)]="confirmPassword" name="confirmPassInput">
                        </div>
                        <div class="col-md-3"></div>
                    </div>


                    <div class="row">
                        <div class="col-md-3">  </div>
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-4"></div>


                    </div>



                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="row" style="align-content: center">
                              <div class="col-md-1 col-lg-1 col-xs-1"></div>
                              <div class="col-md-2 col-lg-2 col-xs-2">
                                <br><button class="button-style" (click)="changePassword()">
                                    Guardar
                                </button>
                              </div>

                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">  </div>
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-4"></div>


                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-4 col-lg-4"></div>

    </div>

    </div>
</div>
