<div class="main-container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="card">
        <form style="margin: 2vw">
          <div class="header">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-xs-12">
                <p class="card-title">Datos del empleo, cargo, comisión o servicio que inicia</p>
              </div>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4">
              <div class="form-group">
                <label>Dependencia o entidad</label>
                <input type="text" name="entityInput" class="form-control" placeholder="Dependencia o entidad">
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4">
              <div class="form-group">
                <label>Nombre del empleo, cargo, comisión o servicio</label>
                <input type="text" name="nameJobInput" class="form-control" placeholder="Nombre del empleo, cargo, comisión o servicio">
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4">
              <div class="form-group">
                <label>¿Está contratado(a) por honorarios</label>
                <select class="form-control" name="honorarioInput">
                  <option value="0">Seleccionar</option>
                  <option value="1">Si</option>
                  <option value="2">No</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4">
              <div class="form-group">
                <label>Nivel del empleo, cargo o comisión</label>
                <input type="text" name="leveljobInput" class="form-control" placeholder="Nivel del empleo, cargo o comisión">
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4">
              <div class="form-group">
                <label>Fecha de la toma de posesión del empleo, cargo o comisión</label>
                <input type="text" name="datejobinInput" class="form-control" placeholder="Nombre del empleo, cargo, comisión o servicio">
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4">
              <div class="form-group">
                <label>Fecha de inicio de la prestación de servicios</label>
                <input type="text" name="leveljobInput" class="form-control" placeholder="Nivel del empleo, cargo o comisión">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6">
              <div class="form-group">
                <label>Área de adscripción/Área a la que presta sus servicios</label>
                <input type="text" name="areadscriptionInput" class="form-control" placeholder="Área de adscripción/Área a la que presta sus servicios">
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6">
              <div class="form-group">
                <label>Función(es) principal(es) o servicio(os) contratado(s)</label>
                <input type="text" name="funtionInput" class="form-control" placeholder="Función(es) principal(es) o servicio(os) contratado(s)">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10 col-md-10 col-xs-10">
              <p class="category">Lugar del empleo, cargo o comisión</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4">
              <div class="form-group">
                <label>Calle</label>
                <input type="text" name="streetjobInput" class="form-control" placeholder="Calle">
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4">
              <div class="form-group">
                <label>Número int</label>
                <input type="text" name="intnumjobInput" class="form-control" placeholder="Número int">
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4">
              <div class="form-group">
                <label>Número ext</label>
                <input type="text" name="extnumjobInput" class="form-control" placeholder="Número ext">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-3">
              <div class="form-group">
                <label>Localidad o colonia</label>
                <input type="text" name="localityjobInput" class="form-control" placeholder="Localidad o colonia">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3">
              <div class="form-group">
                <label>Entidad federativa</label>
                <input type="text" name="entityjobInput" class="form-control" placeholder="Entidad federativa">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3">
              <div class="form-group">
                <label>Municipio</label>
                <input type="text" name="municipalyjobInput" class="form-control" placeholder="Municipio">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3">
              <div class="form-group">
                <label>C.P.</label>
                <input type="text" name="cpjobInput" class="form-control" placeholder="CP">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4">
              <div class="form-group">
                <label>Teléfono de oficina</label>
                <input type="text" name="phonejobInput" class="form-control" placeholder="Teléfono de oficina">
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2">
              <div class="form-group">
                <label>Extensión</label>
                <input type="text" name="extphonejobInput" class="form-control" placeholder="Extensión">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-8"></div>
            <div class="col-lg-4 col-md-4 col-xs-4">
              <div class="form-group">
                <button class="button-style" (click)="editGeneralData()">Editar</button>
                <button class="button-style" (click)="saveGeneralData()">Guardar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
